[Unit]
Description=Check the configurable TMS monthly billing time

[Timer]
OnCalendar=*-*-* *:00/5:00 Asia/Karachi
Persistent=true
Unit=tms-scheduled-billing.service

[Install]
WantedBy=timers.target
